swagger: '2.0'
info:
  version: 1.0 (beta)
  title: APISIGENU
  description: See postgREST API documentation.
host: 'apisigenu.upr.edu.cu/api'
basePath: /
schemes:
  - http
consumes:
  - application/json
  - application/vnd.pgrst.object+json
  - text/csv
produces:
  - application/json
  - application/vnd.pgrst.object+json
  - text/csv
paths:
  /:
    get:
      tags:
        - Introspection
      summary: OpenAPI description (this document)
      produces:
        - application/openapi+json
        - application/json
      responses:
        '200':
          description: OK
  /academic_level:
    get:
      tags:
        - academic_level
      parameters:
        - $ref: '#/parameters/rowFilter.academic_level.id_academic_level'
        - $ref: '#/parameters/rowFilter.academic_level.name'
        - $ref: '#/parameters/rowFilter.academic_level.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/academic_level'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - academic_level
      parameters:
        - $ref: '#/parameters/body.academic_level'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - academic_level
      parameters:
        - $ref: '#/parameters/rowFilter.academic_level.id_academic_level'
        - $ref: '#/parameters/rowFilter.academic_level.name'
        - $ref: '#/parameters/rowFilter.academic_level.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - academic_level
      parameters:
        - $ref: '#/parameters/rowFilter.academic_level.id_academic_level'
        - $ref: '#/parameters/rowFilter.academic_level.name'
        - $ref: '#/parameters/rowFilter.academic_level.cancelled'
        - $ref: '#/parameters/body.academic_level'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /academic_situation:
    get:
      tags:
        - academic_situation
      parameters:
        - $ref: '#/parameters/rowFilter.academic_situation.id_academic_situation'
        - $ref: '#/parameters/rowFilter.academic_situation.name'
        - $ref: '#/parameters/rowFilter.academic_situation.cancelled'
        - $ref: '#/parameters/rowFilter.academic_situation.student_status_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/academic_situation'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - academic_situation
      parameters:
        - $ref: '#/parameters/body.academic_situation'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - academic_situation
      parameters:
        - $ref: '#/parameters/rowFilter.academic_situation.id_academic_situation'
        - $ref: '#/parameters/rowFilter.academic_situation.name'
        - $ref: '#/parameters/rowFilter.academic_situation.cancelled'
        - $ref: '#/parameters/rowFilter.academic_situation.student_status_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - academic_situation
      parameters:
        - $ref: '#/parameters/rowFilter.academic_situation.id_academic_situation'
        - $ref: '#/parameters/rowFilter.academic_situation.name'
        - $ref: '#/parameters/rowFilter.academic_situation.cancelled'
        - $ref: '#/parameters/rowFilter.academic_situation.student_status_fk'
        - $ref: '#/parameters/body.academic_situation'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /activity_type:
    get:
      tags:
        - activity_type
      parameters:
        - $ref: '#/parameters/rowFilter.activity_type.activity_type_id'
        - $ref: '#/parameters/rowFilter.activity_type.name'
        - $ref: '#/parameters/rowFilter.activity_type.cancelled'
        - $ref: '#/parameters/rowFilter.activity_type.sort'
        - $ref: '#/parameters/rowFilter.activity_type.code'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/activity_type'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - activity_type
      parameters:
        - $ref: '#/parameters/body.activity_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - activity_type
      parameters:
        - $ref: '#/parameters/rowFilter.activity_type.activity_type_id'
        - $ref: '#/parameters/rowFilter.activity_type.name'
        - $ref: '#/parameters/rowFilter.activity_type.cancelled'
        - $ref: '#/parameters/rowFilter.activity_type.sort'
        - $ref: '#/parameters/rowFilter.activity_type.code'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - activity_type
      parameters:
        - $ref: '#/parameters/rowFilter.activity_type.activity_type_id'
        - $ref: '#/parameters/rowFilter.activity_type.name'
        - $ref: '#/parameters/rowFilter.activity_type.cancelled'
        - $ref: '#/parameters/rowFilter.activity_type.sort'
        - $ref: '#/parameters/rowFilter.activity_type.code'
        - $ref: '#/parameters/body.activity_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /activity_type_config:
    get:
      tags:
        - activity_type_config
      parameters:
        - $ref: '#/parameters/rowFilter.activity_type_config.activity_type_config_id'
        - $ref: '#/parameters/rowFilter.activity_type_config.cant_hours'
        - $ref: '#/parameters/rowFilter.activity_type_config.activity_type_fk'
        - $ref: '#/parameters/rowFilter.activity_type_config.subject_configuration_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/activity_type_config'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - activity_type_config
      parameters:
        - $ref: '#/parameters/body.activity_type_config'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - activity_type_config
      parameters:
        - $ref: '#/parameters/rowFilter.activity_type_config.activity_type_config_id'
        - $ref: '#/parameters/rowFilter.activity_type_config.cant_hours'
        - $ref: '#/parameters/rowFilter.activity_type_config.activity_type_fk'
        - $ref: '#/parameters/rowFilter.activity_type_config.subject_configuration_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - activity_type_config
      parameters:
        - $ref: '#/parameters/rowFilter.activity_type_config.activity_type_config_id'
        - $ref: '#/parameters/rowFilter.activity_type_config.cant_hours'
        - $ref: '#/parameters/rowFilter.activity_type_config.activity_type_fk'
        - $ref: '#/parameters/rowFilter.activity_type_config.subject_configuration_fk'
        - $ref: '#/parameters/body.activity_type_config'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /activity_types2group_plannings:
    get:
      tags:
        - activity_types2group_plannings
      parameters:
        - $ref: '#/parameters/rowFilter.activity_types2group_plannings.activity_types_fk'
        - $ref: '#/parameters/rowFilter.activity_types2group_plannings.group_plannings_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/activity_types2group_plannings'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - activity_types2group_plannings
      parameters:
        - $ref: '#/parameters/body.activity_types2group_plannings'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - activity_types2group_plannings
      parameters:
        - $ref: '#/parameters/rowFilter.activity_types2group_plannings.activity_types_fk'
        - $ref: '#/parameters/rowFilter.activity_types2group_plannings.group_plannings_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - activity_types2group_plannings
      parameters:
        - $ref: '#/parameters/rowFilter.activity_types2group_plannings.activity_types_fk'
        - $ref: '#/parameters/rowFilter.activity_types2group_plannings.group_plannings_fk'
        - $ref: '#/parameters/body.activity_types2group_plannings'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /adjustment_subject:
    get:
      tags:
        - adjustment_subject
      parameters:
        - $ref: '#/parameters/rowFilter.adjustment_subject.adjustment_subject_id'
        - $ref: '#/parameters/rowFilter.adjustment_subject.real_time'
        - $ref: '#/parameters/rowFilter.adjustment_subject.estimated_time'
        - $ref: '#/parameters/rowFilter.adjustment_subject.cancelled'
        - $ref: '#/parameters/rowFilter.adjustment_subject.subject_fk'
        - $ref: '#/parameters/rowFilter.adjustment_subject.career_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/adjustment_subject'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - adjustment_subject
      parameters:
        - $ref: '#/parameters/body.adjustment_subject'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - adjustment_subject
      parameters:
        - $ref: '#/parameters/rowFilter.adjustment_subject.adjustment_subject_id'
        - $ref: '#/parameters/rowFilter.adjustment_subject.real_time'
        - $ref: '#/parameters/rowFilter.adjustment_subject.estimated_time'
        - $ref: '#/parameters/rowFilter.adjustment_subject.cancelled'
        - $ref: '#/parameters/rowFilter.adjustment_subject.subject_fk'
        - $ref: '#/parameters/rowFilter.adjustment_subject.career_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - adjustment_subject
      parameters:
        - $ref: '#/parameters/rowFilter.adjustment_subject.adjustment_subject_id'
        - $ref: '#/parameters/rowFilter.adjustment_subject.real_time'
        - $ref: '#/parameters/rowFilter.adjustment_subject.estimated_time'
        - $ref: '#/parameters/rowFilter.adjustment_subject.cancelled'
        - $ref: '#/parameters/rowFilter.adjustment_subject.subject_fk'
        - $ref: '#/parameters/rowFilter.adjustment_subject.career_fk'
        - $ref: '#/parameters/body.adjustment_subject'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assign_study_program_motive:
    get:
      tags:
        - assign_study_program_motive
      parameters:
        - $ref: '#/parameters/rowFilter.assign_study_program_motive.assign_study_program_motive_id'
        - $ref: '#/parameters/rowFilter.assign_study_program_motive.name'
        - $ref: '#/parameters/rowFilter.assign_study_program_motive.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assign_study_program_motive'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assign_study_program_motive
      parameters:
        - $ref: '#/parameters/body.assign_study_program_motive'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assign_study_program_motive
      parameters:
        - $ref: '#/parameters/rowFilter.assign_study_program_motive.assign_study_program_motive_id'
        - $ref: '#/parameters/rowFilter.assign_study_program_motive.name'
        - $ref: '#/parameters/rowFilter.assign_study_program_motive.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assign_study_program_motive
      parameters:
        - $ref: '#/parameters/rowFilter.assign_study_program_motive.assign_study_program_motive_id'
        - $ref: '#/parameters/rowFilter.assign_study_program_motive.name'
        - $ref: '#/parameters/rowFilter.assign_study_program_motive.cancelled'
        - $ref: '#/parameters/body.assign_study_program_motive'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assigned_department:
    get:
      tags:
        - assigned_department
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_department.assigned_department_id'
        - $ref: '#/parameters/rowFilter.assigned_department.department_fk'
        - $ref: '#/parameters/rowFilter.assigned_department.discipline_fk'
        - $ref: '#/parameters/rowFilter.assigned_department.study_program_version_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assigned_department'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assigned_department
      parameters:
        - $ref: '#/parameters/body.assigned_department'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assigned_department
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_department.assigned_department_id'
        - $ref: '#/parameters/rowFilter.assigned_department.department_fk'
        - $ref: '#/parameters/rowFilter.assigned_department.discipline_fk'
        - $ref: '#/parameters/rowFilter.assigned_department.study_program_version_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assigned_department
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_department.assigned_department_id'
        - $ref: '#/parameters/rowFilter.assigned_department.department_fk'
        - $ref: '#/parameters/rowFilter.assigned_department.discipline_fk'
        - $ref: '#/parameters/rowFilter.assigned_department.study_program_version_fk'
        - $ref: '#/parameters/body.assigned_department'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assigned_study_program_version:
    get:
      tags:
        - assigned_study_program_version
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.assigned_study_program_version_id'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.date'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.cancelled'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.study_program_version_fk'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.student_fk'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.assign_study_program_motive_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assigned_study_program_version'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assigned_study_program_version
      parameters:
        - $ref: '#/parameters/body.assigned_study_program_version'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assigned_study_program_version
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.assigned_study_program_version_id'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.date'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.cancelled'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.study_program_version_fk'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.student_fk'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.assign_study_program_motive_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assigned_study_program_version
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.assigned_study_program_version_id'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.date'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.cancelled'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.study_program_version_fk'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.student_fk'
        - $ref: '#/parameters/rowFilter.assigned_study_program_version.assign_study_program_motive_fk'
        - $ref: '#/parameters/body.assigned_study_program_version'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assigned_subject:
    get:
      tags:
        - assigned_subject
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subject.assigned_subject_id'
        - $ref: '#/parameters/rowFilter.assigned_subject.period'
        - $ref: '#/parameters/rowFilter.assigned_subject.cancelled'
        - $ref: '#/parameters/rowFilter.assigned_subject.assigned_subject_fk'
        - $ref: '#/parameters/rowFilter.assigned_subject.assigned_subject_type_fk'
        - $ref: '#/parameters/rowFilter.assigned_subject.year'
        - $ref: '#/parameters/rowFilter.assigned_subject.averageable'
        - $ref: '#/parameters/rowFilter.assigned_subject.name'
        - $ref: '#/parameters/rowFilter.assigned_subject.to_certification'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assigned_subject'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assigned_subject
      parameters:
        - $ref: '#/parameters/body.assigned_subject'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assigned_subject
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subject.assigned_subject_id'
        - $ref: '#/parameters/rowFilter.assigned_subject.period'
        - $ref: '#/parameters/rowFilter.assigned_subject.cancelled'
        - $ref: '#/parameters/rowFilter.assigned_subject.assigned_subject_fk'
        - $ref: '#/parameters/rowFilter.assigned_subject.assigned_subject_type_fk'
        - $ref: '#/parameters/rowFilter.assigned_subject.year'
        - $ref: '#/parameters/rowFilter.assigned_subject.averageable'
        - $ref: '#/parameters/rowFilter.assigned_subject.name'
        - $ref: '#/parameters/rowFilter.assigned_subject.to_certification'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assigned_subject
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subject.assigned_subject_id'
        - $ref: '#/parameters/rowFilter.assigned_subject.period'
        - $ref: '#/parameters/rowFilter.assigned_subject.cancelled'
        - $ref: '#/parameters/rowFilter.assigned_subject.assigned_subject_fk'
        - $ref: '#/parameters/rowFilter.assigned_subject.assigned_subject_type_fk'
        - $ref: '#/parameters/rowFilter.assigned_subject.year'
        - $ref: '#/parameters/rowFilter.assigned_subject.averageable'
        - $ref: '#/parameters/rowFilter.assigned_subject.name'
        - $ref: '#/parameters/rowFilter.assigned_subject.to_certification'
        - $ref: '#/parameters/body.assigned_subject'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assigned_subject_group:
    get:
      tags:
        - assigned_subject_group
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subject_group.assigned_subject_group_id'
        - $ref: '#/parameters/rowFilter.assigned_subject_group.department_fk'
        - $ref: '#/parameters/rowFilter.assigned_subject_group.subject_group_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assigned_subject_group'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assigned_subject_group
      parameters:
        - $ref: '#/parameters/body.assigned_subject_group'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assigned_subject_group
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subject_group.assigned_subject_group_id'
        - $ref: '#/parameters/rowFilter.assigned_subject_group.department_fk'
        - $ref: '#/parameters/rowFilter.assigned_subject_group.subject_group_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assigned_subject_group
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subject_group.assigned_subject_group_id'
        - $ref: '#/parameters/rowFilter.assigned_subject_group.department_fk'
        - $ref: '#/parameters/rowFilter.assigned_subject_group.subject_group_fk'
        - $ref: '#/parameters/body.assigned_subject_group'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assigned_subject_type:
    get:
      tags:
        - assigned_subject_type
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subject_type.assigned_subject_type_id'
        - $ref: '#/parameters/rowFilter.assigned_subject_type.name'
        - $ref: '#/parameters/rowFilter.assigned_subject_type.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assigned_subject_type'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assigned_subject_type
      parameters:
        - $ref: '#/parameters/body.assigned_subject_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assigned_subject_type
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subject_type.assigned_subject_type_id'
        - $ref: '#/parameters/rowFilter.assigned_subject_type.name'
        - $ref: '#/parameters/rowFilter.assigned_subject_type.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assigned_subject_type
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subject_type.assigned_subject_type_id'
        - $ref: '#/parameters/rowFilter.assigned_subject_type.name'
        - $ref: '#/parameters/rowFilter.assigned_subject_type.cancelled'
        - $ref: '#/parameters/body.assigned_subject_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assigned_subjects2study_progra:
    get:
      tags:
        - assigned_subjects2study_progra
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subjects2study_progra.study_program_versions_fk'
        - $ref: '#/parameters/rowFilter.assigned_subjects2study_progra.assigned_subjects_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assigned_subjects2study_progra'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assigned_subjects2study_progra
      parameters:
        - $ref: '#/parameters/body.assigned_subjects2study_progra'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assigned_subjects2study_progra
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subjects2study_progra.study_program_versions_fk'
        - $ref: '#/parameters/rowFilter.assigned_subjects2study_progra.assigned_subjects_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assigned_subjects2study_progra
      parameters:
        - $ref: '#/parameters/rowFilter.assigned_subjects2study_progra.study_program_versions_fk'
        - $ref: '#/parameters/rowFilter.assigned_subjects2study_progra.assigned_subjects_fk'
        - $ref: '#/parameters/body.assigned_subjects2study_progra'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assistance_record:
    get:
      tags:
        - assistance_record
      parameters:
        - $ref: '#/parameters/rowFilter.assistance_record.assistance_record_id'
        - $ref: '#/parameters/rowFilter.assistance_record.date'
        - $ref: '#/parameters/rowFilter.assistance_record.week'
        - $ref: '#/parameters/rowFilter.assistance_record.professor_name'
        - $ref: '#/parameters/rowFilter.assistance_record.activity_type_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.student_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.group_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.professor_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.subject_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.first_assistance'
        - $ref: '#/parameters/rowFilter.assistance_record.second_assistance'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assistance_record'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assistance_record
      parameters:
        - $ref: '#/parameters/body.assistance_record'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assistance_record
      parameters:
        - $ref: '#/parameters/rowFilter.assistance_record.assistance_record_id'
        - $ref: '#/parameters/rowFilter.assistance_record.date'
        - $ref: '#/parameters/rowFilter.assistance_record.week'
        - $ref: '#/parameters/rowFilter.assistance_record.professor_name'
        - $ref: '#/parameters/rowFilter.assistance_record.activity_type_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.student_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.group_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.professor_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.subject_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.first_assistance'
        - $ref: '#/parameters/rowFilter.assistance_record.second_assistance'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assistance_record
      parameters:
        - $ref: '#/parameters/rowFilter.assistance_record.assistance_record_id'
        - $ref: '#/parameters/rowFilter.assistance_record.date'
        - $ref: '#/parameters/rowFilter.assistance_record.week'
        - $ref: '#/parameters/rowFilter.assistance_record.professor_name'
        - $ref: '#/parameters/rowFilter.assistance_record.activity_type_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.student_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.group_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.professor_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.subject_fk'
        - $ref: '#/parameters/rowFilter.assistance_record.first_assistance'
        - $ref: '#/parameters/rowFilter.assistance_record.second_assistance'
        - $ref: '#/parameters/body.assistance_record'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assistant_student_file:
    get:
      tags:
        - assistant_student_file
      parameters:
        - $ref: '#/parameters/rowFilter.assistant_student_file.id_assistant_student_file'
        - $ref: '#/parameters/rowFilter.assistant_student_file.date'
        - $ref: '#/parameters/rowFilter.assistant_student_file.cancelled'
        - $ref: '#/parameters/rowFilter.assistant_student_file.student_fk'
        - $ref: '#/parameters/rowFilter.assistant_student_file.assistant_student_status_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assistant_student_file'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assistant_student_file
      parameters:
        - $ref: '#/parameters/body.assistant_student_file'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assistant_student_file
      parameters:
        - $ref: '#/parameters/rowFilter.assistant_student_file.id_assistant_student_file'
        - $ref: '#/parameters/rowFilter.assistant_student_file.date'
        - $ref: '#/parameters/rowFilter.assistant_student_file.cancelled'
        - $ref: '#/parameters/rowFilter.assistant_student_file.student_fk'
        - $ref: '#/parameters/rowFilter.assistant_student_file.assistant_student_status_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assistant_student_file
      parameters:
        - $ref: '#/parameters/rowFilter.assistant_student_file.id_assistant_student_file'
        - $ref: '#/parameters/rowFilter.assistant_student_file.date'
        - $ref: '#/parameters/rowFilter.assistant_student_file.cancelled'
        - $ref: '#/parameters/rowFilter.assistant_student_file.student_fk'
        - $ref: '#/parameters/rowFilter.assistant_student_file.assistant_student_status_fk'
        - $ref: '#/parameters/body.assistant_student_file'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /assistant_student_status:
    get:
      tags:
        - assistant_student_status
      parameters:
        - $ref: '#/parameters/rowFilter.assistant_student_status.id_assistant_student_status'
        - $ref: '#/parameters/rowFilter.assistant_student_status.name'
        - $ref: '#/parameters/rowFilter.assistant_student_status.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assistant_student_status'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - assistant_student_status
      parameters:
        - $ref: '#/parameters/body.assistant_student_status'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - assistant_student_status
      parameters:
        - $ref: '#/parameters/rowFilter.assistant_student_status.id_assistant_student_status'
        - $ref: '#/parameters/rowFilter.assistant_student_status.name'
        - $ref: '#/parameters/rowFilter.assistant_student_status.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - assistant_student_status
      parameters:
        - $ref: '#/parameters/rowFilter.assistant_student_status.id_assistant_student_status'
        - $ref: '#/parameters/rowFilter.assistant_student_status.name'
        - $ref: '#/parameters/rowFilter.assistant_student_status.cancelled'
        - $ref: '#/parameters/body.assistant_student_status'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /award:
    get:
      tags:
        - award
      parameters:
        - $ref: '#/parameters/rowFilter.award.id_award'
        - $ref: '#/parameters/rowFilter.award.position'
        - $ref: '#/parameters/rowFilter.award.increment'
        - $ref: '#/parameters/rowFilter.award.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/award'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - award
      parameters:
        - $ref: '#/parameters/body.award'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - award
      parameters:
        - $ref: '#/parameters/rowFilter.award.id_award'
        - $ref: '#/parameters/rowFilter.award.position'
        - $ref: '#/parameters/rowFilter.award.increment'
        - $ref: '#/parameters/rowFilter.award.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - award
      parameters:
        - $ref: '#/parameters/rowFilter.award.id_award'
        - $ref: '#/parameters/rowFilter.award.position'
        - $ref: '#/parameters/rowFilter.award.increment'
        - $ref: '#/parameters/rowFilter.award.cancelled'
        - $ref: '#/parameters/body.award'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /bonus:
    get:
      tags:
        - bonus
      parameters:
        - $ref: '#/parameters/rowFilter.bonus.id_bonus'
        - $ref: '#/parameters/rowFilter.bonus.event'
        - $ref: '#/parameters/rowFilter.bonus.increment'
        - $ref: '#/parameters/rowFilter.bonus.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/bonus'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - bonus
      parameters:
        - $ref: '#/parameters/body.bonus'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - bonus
      parameters:
        - $ref: '#/parameters/rowFilter.bonus.id_bonus'
        - $ref: '#/parameters/rowFilter.bonus.event'
        - $ref: '#/parameters/rowFilter.bonus.increment'
        - $ref: '#/parameters/rowFilter.bonus.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - bonus
      parameters:
        - $ref: '#/parameters/rowFilter.bonus.id_bonus'
        - $ref: '#/parameters/rowFilter.bonus.event'
        - $ref: '#/parameters/rowFilter.bonus.increment'
        - $ref: '#/parameters/rowFilter.bonus.cancelled'
        - $ref: '#/parameters/body.bonus'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /career:
    get:
      tags:
        - career
      parameters:
        - $ref: '#/parameters/rowFilter.career.id_career'
        - $ref: '#/parameters/rowFilter.career.cancelled'
        - $ref: '#/parameters/rowFilter.career.faculty_fk'
        - $ref: '#/parameters/rowFilter.career.town_university_fk'
        - $ref: '#/parameters/rowFilter.career.national_career_fk'
        - $ref: '#/parameters/rowFilter.career.course_type_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/career'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - career
      parameters:
        - $ref: '#/parameters/body.career'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - career
      parameters:
        - $ref: '#/parameters/rowFilter.career.id_career'
        - $ref: '#/parameters/rowFilter.career.cancelled'
        - $ref: '#/parameters/rowFilter.career.faculty_fk'
        - $ref: '#/parameters/rowFilter.career.town_university_fk'
        - $ref: '#/parameters/rowFilter.career.national_career_fk'
        - $ref: '#/parameters/rowFilter.career.course_type_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - career
      parameters:
        - $ref: '#/parameters/rowFilter.career.id_career'
        - $ref: '#/parameters/rowFilter.career.cancelled'
        - $ref: '#/parameters/rowFilter.career.faculty_fk'
        - $ref: '#/parameters/rowFilter.career.town_university_fk'
        - $ref: '#/parameters/rowFilter.career.national_career_fk'
        - $ref: '#/parameters/rowFilter.career.course_type_fk'
        - $ref: '#/parameters/body.career'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /country:
    get:
      tags:
        - country
      parameters:
        - $ref: '#/parameters/rowFilter.country.id_country'
        - $ref: '#/parameters/rowFilter.country.name'
        - $ref: '#/parameters/rowFilter.country.cancelled'
        - $ref: '#/parameters/rowFilter.country.code'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/country'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - country
      parameters:
        - $ref: '#/parameters/body.country'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - country
      parameters:
        - $ref: '#/parameters/rowFilter.country.id_country'
        - $ref: '#/parameters/rowFilter.country.name'
        - $ref: '#/parameters/rowFilter.country.cancelled'
        - $ref: '#/parameters/rowFilter.country.code'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - country
      parameters:
        - $ref: '#/parameters/rowFilter.country.id_country'
        - $ref: '#/parameters/rowFilter.country.name'
        - $ref: '#/parameters/rowFilter.country.cancelled'
        - $ref: '#/parameters/rowFilter.country.code'
        - $ref: '#/parameters/body.country'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /course:
    get:
      tags:
        - course
      parameters:
        - $ref: '#/parameters/rowFilter.course.id_course'
        - $ref: '#/parameters/rowFilter.course.name'
        - $ref: '#/parameters/rowFilter.course.cancelled'
        - $ref: '#/parameters/rowFilter.course.matriculate_course'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/course'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - course
      parameters:
        - $ref: '#/parameters/body.course'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - course
      parameters:
        - $ref: '#/parameters/rowFilter.course.id_course'
        - $ref: '#/parameters/rowFilter.course.name'
        - $ref: '#/parameters/rowFilter.course.cancelled'
        - $ref: '#/parameters/rowFilter.course.matriculate_course'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - course
      parameters:
        - $ref: '#/parameters/rowFilter.course.id_course'
        - $ref: '#/parameters/rowFilter.course.name'
        - $ref: '#/parameters/rowFilter.course.cancelled'
        - $ref: '#/parameters/rowFilter.course.matriculate_course'
        - $ref: '#/parameters/body.course'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /course_type:
    get:
      tags:
        - course_type
      parameters:
        - $ref: '#/parameters/rowFilter.course_type.id_course_type'
        - $ref: '#/parameters/rowFilter.course_type.code'
        - $ref: '#/parameters/rowFilter.course_type.name'
        - $ref: '#/parameters/rowFilter.course_type.debts'
        - $ref: '#/parameters/rowFilter.course_type.cancelled'
        - $ref: '#/parameters/rowFilter.course_type.short_name'
        - $ref: '#/parameters/rowFilter.course_type.behavior'
        - $ref: '#/parameters/rowFilter.course_type.modality'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/course_type'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - course_type
      parameters:
        - $ref: '#/parameters/body.course_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - course_type
      parameters:
        - $ref: '#/parameters/rowFilter.course_type.id_course_type'
        - $ref: '#/parameters/rowFilter.course_type.code'
        - $ref: '#/parameters/rowFilter.course_type.name'
        - $ref: '#/parameters/rowFilter.course_type.debts'
        - $ref: '#/parameters/rowFilter.course_type.cancelled'
        - $ref: '#/parameters/rowFilter.course_type.short_name'
        - $ref: '#/parameters/rowFilter.course_type.behavior'
        - $ref: '#/parameters/rowFilter.course_type.modality'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - course_type
      parameters:
        - $ref: '#/parameters/rowFilter.course_type.id_course_type'
        - $ref: '#/parameters/rowFilter.course_type.code'
        - $ref: '#/parameters/rowFilter.course_type.name'
        - $ref: '#/parameters/rowFilter.course_type.debts'
        - $ref: '#/parameters/rowFilter.course_type.cancelled'
        - $ref: '#/parameters/rowFilter.course_type.short_name'
        - $ref: '#/parameters/rowFilter.course_type.behavior'
        - $ref: '#/parameters/rowFilter.course_type.modality'
        - $ref: '#/parameters/body.course_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /course_types2drop_motives:
    get:
      tags:
        - course_types2drop_motives
      parameters:
        - $ref: '#/parameters/rowFilter.course_types2drop_motives.drop_motives_fk'
        - $ref: '#/parameters/rowFilter.course_types2drop_motives.course_types_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/course_types2drop_motives'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - course_types2drop_motives
      parameters:
        - $ref: '#/parameters/body.course_types2drop_motives'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - course_types2drop_motives
      parameters:
        - $ref: '#/parameters/rowFilter.course_types2drop_motives.drop_motives_fk'
        - $ref: '#/parameters/rowFilter.course_types2drop_motives.course_types_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - course_types2drop_motives
      parameters:
        - $ref: '#/parameters/rowFilter.course_types2drop_motives.drop_motives_fk'
        - $ref: '#/parameters/rowFilter.course_types2drop_motives.course_types_fk'
        - $ref: '#/parameters/body.course_types2drop_motives'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /cualitative_evaluation:
    get:
      tags:
        - cualitative_evaluation
      parameters:
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.cualitative_evaluation_id'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.name'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.abbreviation'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.cancelled'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.priority'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/cualitative_evaluation'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - cualitative_evaluation
      parameters:
        - $ref: '#/parameters/body.cualitative_evaluation'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - cualitative_evaluation
      parameters:
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.cualitative_evaluation_id'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.name'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.abbreviation'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.cancelled'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.priority'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - cualitative_evaluation
      parameters:
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.cualitative_evaluation_id'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.name'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.abbreviation'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.cancelled'
        - $ref: '#/parameters/rowFilter.cualitative_evaluation.priority'
        - $ref: '#/parameters/body.cualitative_evaluation'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /deleted_student:
    get:
      tags:
        - deleted_student
      parameters:
        - $ref: '#/parameters/rowFilter.deleted_student.id'
        - $ref: '#/parameters/rowFilter.deleted_student.identification'
        - $ref: '#/parameters/rowFilter.deleted_student.name'
        - $ref: '#/parameters/rowFilter.deleted_student.middle_name'
        - $ref: '#/parameters/rowFilter.deleted_student.last_name'
        - $ref: '#/parameters/rowFilter.deleted_student.id_faculty'
        - $ref: '#/parameters/rowFilter.deleted_student.idcareer'
        - $ref: '#/parameters/rowFilter.deleted_student.id_course_type'
        - $ref: '#/parameters/rowFilter.deleted_student.user_name'
        - $ref: '#/parameters/rowFilter.deleted_student.date'
        - $ref: '#/parameters/rowFilter.deleted_student.idcourse'
        - $ref: '#/parameters/rowFilter.deleted_student.elimination_motive'
        - $ref: '#/parameters/rowFilter.deleted_student.host'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/deleted_student'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - deleted_student
      parameters:
        - $ref: '#/parameters/body.deleted_student'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - deleted_student
      parameters:
        - $ref: '#/parameters/rowFilter.deleted_student.id'
        - $ref: '#/parameters/rowFilter.deleted_student.identification'
        - $ref: '#/parameters/rowFilter.deleted_student.name'
        - $ref: '#/parameters/rowFilter.deleted_student.middle_name'
        - $ref: '#/parameters/rowFilter.deleted_student.last_name'
        - $ref: '#/parameters/rowFilter.deleted_student.id_faculty'
        - $ref: '#/parameters/rowFilter.deleted_student.idcareer'
        - $ref: '#/parameters/rowFilter.deleted_student.id_course_type'
        - $ref: '#/parameters/rowFilter.deleted_student.user_name'
        - $ref: '#/parameters/rowFilter.deleted_student.date'
        - $ref: '#/parameters/rowFilter.deleted_student.idcourse'
        - $ref: '#/parameters/rowFilter.deleted_student.elimination_motive'
        - $ref: '#/parameters/rowFilter.deleted_student.host'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - deleted_student
      parameters:
        - $ref: '#/parameters/rowFilter.deleted_student.id'
        - $ref: '#/parameters/rowFilter.deleted_student.identification'
        - $ref: '#/parameters/rowFilter.deleted_student.name'
        - $ref: '#/parameters/rowFilter.deleted_student.middle_name'
        - $ref: '#/parameters/rowFilter.deleted_student.last_name'
        - $ref: '#/parameters/rowFilter.deleted_student.id_faculty'
        - $ref: '#/parameters/rowFilter.deleted_student.idcareer'
        - $ref: '#/parameters/rowFilter.deleted_student.id_course_type'
        - $ref: '#/parameters/rowFilter.deleted_student.user_name'
        - $ref: '#/parameters/rowFilter.deleted_student.date'
        - $ref: '#/parameters/rowFilter.deleted_student.idcourse'
        - $ref: '#/parameters/rowFilter.deleted_student.elimination_motive'
        - $ref: '#/parameters/rowFilter.deleted_student.host'
        - $ref: '#/parameters/body.deleted_student'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /department:
    get:
      tags:
        - department
      parameters:
        - $ref: '#/parameters/rowFilter.department.department_id'
        - $ref: '#/parameters/rowFilter.department.name'
        - $ref: '#/parameters/rowFilter.department.cancelled'
        - $ref: '#/parameters/rowFilter.department.town_university_fk'
        - $ref: '#/parameters/rowFilter.department.faculty_fk'
        - $ref: '#/parameters/rowFilter.department.code'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/department'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - department
      parameters:
        - $ref: '#/parameters/body.department'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - department
      parameters:
        - $ref: '#/parameters/rowFilter.department.department_id'
        - $ref: '#/parameters/rowFilter.department.name'
        - $ref: '#/parameters/rowFilter.department.cancelled'
        - $ref: '#/parameters/rowFilter.department.town_university_fk'
        - $ref: '#/parameters/rowFilter.department.faculty_fk'
        - $ref: '#/parameters/rowFilter.department.code'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - department
      parameters:
        - $ref: '#/parameters/rowFilter.department.department_id'
        - $ref: '#/parameters/rowFilter.department.name'
        - $ref: '#/parameters/rowFilter.department.cancelled'
        - $ref: '#/parameters/rowFilter.department.town_university_fk'
        - $ref: '#/parameters/rowFilter.department.faculty_fk'
        - $ref: '#/parameters/rowFilter.department.code'
        - $ref: '#/parameters/body.department'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /discipline:
    get:
      tags:
        - discipline
      parameters:
        - $ref: '#/parameters/rowFilter.discipline.discipline_id'
        - $ref: '#/parameters/rowFilter.discipline.objectives'
        - $ref: '#/parameters/rowFilter.discipline.program'
        - $ref: '#/parameters/rowFilter.discipline.cancelled'
        - $ref: '#/parameters/rowFilter.discipline.code'
        - $ref: '#/parameters/rowFilter.discipline.career_fk'
        - $ref: '#/parameters/rowFilter.discipline.discipline_name_fk'
        - $ref: '#/parameters/rowFilter.discipline.department_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/discipline'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - discipline
      parameters:
        - $ref: '#/parameters/body.discipline'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - discipline
      parameters:
        - $ref: '#/parameters/rowFilter.discipline.discipline_id'
        - $ref: '#/parameters/rowFilter.discipline.objectives'
        - $ref: '#/parameters/rowFilter.discipline.program'
        - $ref: '#/parameters/rowFilter.discipline.cancelled'
        - $ref: '#/parameters/rowFilter.discipline.code'
        - $ref: '#/parameters/rowFilter.discipline.career_fk'
        - $ref: '#/parameters/rowFilter.discipline.discipline_name_fk'
        - $ref: '#/parameters/rowFilter.discipline.department_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - discipline
      parameters:
        - $ref: '#/parameters/rowFilter.discipline.discipline_id'
        - $ref: '#/parameters/rowFilter.discipline.objectives'
        - $ref: '#/parameters/rowFilter.discipline.program'
        - $ref: '#/parameters/rowFilter.discipline.cancelled'
        - $ref: '#/parameters/rowFilter.discipline.code'
        - $ref: '#/parameters/rowFilter.discipline.career_fk'
        - $ref: '#/parameters/rowFilter.discipline.discipline_name_fk'
        - $ref: '#/parameters/rowFilter.discipline.department_fk'
        - $ref: '#/parameters/body.discipline'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /discipline_name:
    get:
      tags:
        - discipline_name
      parameters:
        - $ref: '#/parameters/rowFilter.discipline_name.discipline_name_id'
        - $ref: '#/parameters/rowFilter.discipline_name.name'
        - $ref: '#/parameters/rowFilter.discipline_name.code'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/discipline_name'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - discipline_name
      parameters:
        - $ref: '#/parameters/body.discipline_name'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - discipline_name
      parameters:
        - $ref: '#/parameters/rowFilter.discipline_name.discipline_name_id'
        - $ref: '#/parameters/rowFilter.discipline_name.name'
        - $ref: '#/parameters/rowFilter.discipline_name.code'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - discipline_name
      parameters:
        - $ref: '#/parameters/rowFilter.discipline_name.discipline_name_id'
        - $ref: '#/parameters/rowFilter.discipline_name.name'
        - $ref: '#/parameters/rowFilter.discipline_name.code'
        - $ref: '#/parameters/body.discipline_name'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /docent_charge:
    get:
      tags:
        - docent_charge
      parameters:
        - $ref: '#/parameters/rowFilter.docent_charge.docent_charge_id'
        - $ref: '#/parameters/rowFilter.docent_charge.course_fk'
        - $ref: '#/parameters/rowFilter.docent_charge.professor_fk'
        - $ref: '#/parameters/rowFilter.docent_charge.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/docent_charge'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - docent_charge
      parameters:
        - $ref: '#/parameters/body.docent_charge'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - docent_charge
      parameters:
        - $ref: '#/parameters/rowFilter.docent_charge.docent_charge_id'
        - $ref: '#/parameters/rowFilter.docent_charge.course_fk'
        - $ref: '#/parameters/rowFilter.docent_charge.professor_fk'
        - $ref: '#/parameters/rowFilter.docent_charge.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - docent_charge
      parameters:
        - $ref: '#/parameters/rowFilter.docent_charge.docent_charge_id'
        - $ref: '#/parameters/rowFilter.docent_charge.course_fk'
        - $ref: '#/parameters/rowFilter.docent_charge.professor_fk'
        - $ref: '#/parameters/rowFilter.docent_charge.cancelled'
        - $ref: '#/parameters/body.docent_charge'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /drop_motive:
    get:
      tags:
        - drop_motive
      parameters:
        - $ref: '#/parameters/rowFilter.drop_motive.id_drop_motive'
        - $ref: '#/parameters/rowFilter.drop_motive.name'
        - $ref: '#/parameters/rowFilter.drop_motive.cancelled'
        - $ref: '#/parameters/rowFilter.drop_motive.temporal'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/drop_motive'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - drop_motive
      parameters:
        - $ref: '#/parameters/body.drop_motive'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - drop_motive
      parameters:
        - $ref: '#/parameters/rowFilter.drop_motive.id_drop_motive'
        - $ref: '#/parameters/rowFilter.drop_motive.name'
        - $ref: '#/parameters/rowFilter.drop_motive.cancelled'
        - $ref: '#/parameters/rowFilter.drop_motive.temporal'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - drop_motive
      parameters:
        - $ref: '#/parameters/rowFilter.drop_motive.id_drop_motive'
        - $ref: '#/parameters/rowFilter.drop_motive.name'
        - $ref: '#/parameters/rowFilter.drop_motive.cancelled'
        - $ref: '#/parameters/rowFilter.drop_motive.temporal'
        - $ref: '#/parameters/body.drop_motive'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /entry_evaluation:
    get:
      tags:
        - entry_evaluation
      parameters:
        - $ref: '#/parameters/rowFilter.entry_evaluation.id_entry_evaluation'
        - $ref: '#/parameters/rowFilter.entry_evaluation.mark'
        - $ref: '#/parameters/rowFilter.entry_evaluation.entry_subject_fk'
        - $ref: '#/parameters/rowFilter.entry_evaluation.matriculated_student_fk'
        - $ref: '#/parameters/rowFilter.entry_evaluation.student_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/entry_evaluation'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - entry_evaluation
      parameters:
        - $ref: '#/parameters/body.entry_evaluation'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - entry_evaluation
      parameters:
        - $ref: '#/parameters/rowFilter.entry_evaluation.id_entry_evaluation'
        - $ref: '#/parameters/rowFilter.entry_evaluation.mark'
        - $ref: '#/parameters/rowFilter.entry_evaluation.entry_subject_fk'
        - $ref: '#/parameters/rowFilter.entry_evaluation.matriculated_student_fk'
        - $ref: '#/parameters/rowFilter.entry_evaluation.student_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - entry_evaluation
      parameters:
        - $ref: '#/parameters/rowFilter.entry_evaluation.id_entry_evaluation'
        - $ref: '#/parameters/rowFilter.entry_evaluation.mark'
        - $ref: '#/parameters/rowFilter.entry_evaluation.entry_subject_fk'
        - $ref: '#/parameters/rowFilter.entry_evaluation.matriculated_student_fk'
        - $ref: '#/parameters/rowFilter.entry_evaluation.student_fk'
        - $ref: '#/parameters/body.entry_evaluation'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /entry_source:
    get:
      tags:
        - entry_source
      parameters:
        - $ref: '#/parameters/rowFilter.entry_source.id_entry_source'
        - $ref: '#/parameters/rowFilter.entry_source.name'
        - $ref: '#/parameters/rowFilter.entry_source.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/entry_source'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - entry_source
      parameters:
        - $ref: '#/parameters/body.entry_source'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - entry_source
      parameters:
        - $ref: '#/parameters/rowFilter.entry_source.id_entry_source'
        - $ref: '#/parameters/rowFilter.entry_source.name'
        - $ref: '#/parameters/rowFilter.entry_source.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - entry_source
      parameters:
        - $ref: '#/parameters/rowFilter.entry_source.id_entry_source'
        - $ref: '#/parameters/rowFilter.entry_source.name'
        - $ref: '#/parameters/rowFilter.entry_source.cancelled'
        - $ref: '#/parameters/body.entry_source'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /entry_subject:
    get:
      tags:
        - entry_subject
      parameters:
        - $ref: '#/parameters/rowFilter.entry_subject.id_entry_subject'
        - $ref: '#/parameters/rowFilter.entry_subject.name'
        - $ref: '#/parameters/rowFilter.entry_subject.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/entry_subject'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - entry_subject
      parameters:
        - $ref: '#/parameters/body.entry_subject'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - entry_subject
      parameters:
        - $ref: '#/parameters/rowFilter.entry_subject.id_entry_subject'
        - $ref: '#/parameters/rowFilter.entry_subject.name'
        - $ref: '#/parameters/rowFilter.entry_subject.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - entry_subject
      parameters:
        - $ref: '#/parameters/rowFilter.entry_subject.id_entry_subject'
        - $ref: '#/parameters/rowFilter.entry_subject.name'
        - $ref: '#/parameters/rowFilter.entry_subject.cancelled'
        - $ref: '#/parameters/body.entry_subject'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /evaluation:
    get:
      tags:
        - evaluation
      parameters:
        - $ref: '#/parameters/rowFilter.evaluation.id_evaluation'
        - $ref: '#/parameters/rowFilter.evaluation.cancelled'
        - $ref: '#/parameters/rowFilter.evaluation.professor_name'
        - $ref: '#/parameters/rowFilter.evaluation.student_fk'
        - $ref: '#/parameters/rowFilter.evaluation.examination_type_fk'
        - $ref: '#/parameters/rowFilter.evaluation.evaluation_value_fk'
        - $ref: '#/parameters/rowFilter.evaluation.matriculated_subject_fk'
        - $ref: '#/parameters/rowFilter.evaluation.user_name'
        - $ref: '#/parameters/rowFilter.evaluation.registration_date'
        - $ref: '#/parameters/rowFilter.evaluation.evaluation_date'
        - $ref: '#/parameters/rowFilter.evaluation.host'
        - $ref: '#/parameters/rowFilter.evaluation.deleted'
        - $ref: '#/parameters/rowFilter.evaluation.motive'
        - $ref: '#/parameters/rowFilter.evaluation.validated'
        - $ref: '#/parameters/rowFilter.evaluation.examination_acta_fk'
        - $ref: '#/parameters/rowFilter.evaluation.exam_mark_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/evaluation'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - evaluation
      parameters:
        - $ref: '#/parameters/body.evaluation'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - evaluation
      parameters:
        - $ref: '#/parameters/rowFilter.evaluation.id_evaluation'
        - $ref: '#/parameters/rowFilter.evaluation.cancelled'
        - $ref: '#/parameters/rowFilter.evaluation.professor_name'
        - $ref: '#/parameters/rowFilter.evaluation.student_fk'
        - $ref: '#/parameters/rowFilter.evaluation.examination_type_fk'
        - $ref: '#/parameters/rowFilter.evaluation.evaluation_value_fk'
        - $ref: '#/parameters/rowFilter.evaluation.matriculated_subject_fk'
        - $ref: '#/parameters/rowFilter.evaluation.user_name'
        - $ref: '#/parameters/rowFilter.evaluation.registration_date'
        - $ref: '#/parameters/rowFilter.evaluation.evaluation_date'
        - $ref: '#/parameters/rowFilter.evaluation.host'
        - $ref: '#/parameters/rowFilter.evaluation.deleted'
        - $ref: '#/parameters/rowFilter.evaluation.motive'
        - $ref: '#/parameters/rowFilter.evaluation.validated'
        - $ref: '#/parameters/rowFilter.evaluation.examination_acta_fk'
        - $ref: '#/parameters/rowFilter.evaluation.exam_mark_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - evaluation
      parameters:
        - $ref: '#/parameters/rowFilter.evaluation.id_evaluation'
        - $ref: '#/parameters/rowFilter.evaluation.cancelled'
        - $ref: '#/parameters/rowFilter.evaluation.professor_name'
        - $ref: '#/parameters/rowFilter.evaluation.student_fk'
        - $ref: '#/parameters/rowFilter.evaluation.examination_type_fk'
        - $ref: '#/parameters/rowFilter.evaluation.evaluation_value_fk'
        - $ref: '#/parameters/rowFilter.evaluation.matriculated_subject_fk'
        - $ref: '#/parameters/rowFilter.evaluation.user_name'
        - $ref: '#/parameters/rowFilter.evaluation.registration_date'
        - $ref: '#/parameters/rowFilter.evaluation.evaluation_date'
        - $ref: '#/parameters/rowFilter.evaluation.host'
        - $ref: '#/parameters/rowFilter.evaluation.deleted'
        - $ref: '#/parameters/rowFilter.evaluation.motive'
        - $ref: '#/parameters/rowFilter.evaluation.validated'
        - $ref: '#/parameters/rowFilter.evaluation.examination_acta_fk'
        - $ref: '#/parameters/rowFilter.evaluation.exam_mark_fk'
        - $ref: '#/parameters/body.evaluation'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /evaluation_type:
    get:
      tags:
        - evaluation_type
      parameters:
        - $ref: '#/parameters/rowFilter.evaluation_type.evaluation_type_id'
        - $ref: '#/parameters/rowFilter.evaluation_type.name'
        - $ref: '#/parameters/rowFilter.evaluation_type.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/evaluation_type'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - evaluation_type
      parameters:
        - $ref: '#/parameters/body.evaluation_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - evaluation_type
      parameters:
        - $ref: '#/parameters/rowFilter.evaluation_type.evaluation_type_id'
        - $ref: '#/parameters/rowFilter.evaluation_type.name'
        - $ref: '#/parameters/rowFilter.evaluation_type.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - evaluation_type
      parameters:
        - $ref: '#/parameters/rowFilter.evaluation_type.evaluation_type_id'
        - $ref: '#/parameters/rowFilter.evaluation_type.name'
        - $ref: '#/parameters/rowFilter.evaluation_type.cancelled'
        - $ref: '#/parameters/body.evaluation_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /evaluation_value:
    get:
      tags:
        - evaluation_value
      parameters:
        - $ref: '#/parameters/rowFilter.evaluation_value.id_evaluation_value'
        - $ref: '#/parameters/rowFilter.evaluation_value.value'
        - $ref: '#/parameters/rowFilter.evaluation_value.cancelled'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/evaluation_value'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - evaluation_value
      parameters:
        - $ref: '#/parameters/body.evaluation_value'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - evaluation_value
      parameters:
        - $ref: '#/parameters/rowFilter.evaluation_value.id_evaluation_value'
        - $ref: '#/parameters/rowFilter.evaluation_value.value'
        - $ref: '#/parameters/rowFilter.evaluation_value.cancelled'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - evaluation_value
      parameters:
        - $ref: '#/parameters/rowFilter.evaluation_value.id_evaluation_value'
        - $ref: '#/parameters/rowFilter.evaluation_value.value'
        - $ref: '#/parameters/rowFilter.evaluation_value.cancelled'
        - $ref: '#/parameters/body.evaluation_value'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /evaluations_cuts:
    get:
      tags:
        - evaluations_cuts
      parameters:
        - $ref: '#/parameters/rowFilter.evaluations_cuts.evaluations_cuts_id'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.name'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.abbreviation'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.cancelled'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.priority'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/evaluations_cuts'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - evaluations_cuts
      parameters:
        - $ref: '#/parameters/body.evaluations_cuts'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - evaluations_cuts
      parameters:
        - $ref: '#/parameters/rowFilter.evaluations_cuts.evaluations_cuts_id'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.name'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.abbreviation'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.cancelled'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.priority'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - evaluations_cuts
      parameters:
        - $ref: '#/parameters/rowFilter.evaluations_cuts.evaluations_cuts_id'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.name'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.abbreviation'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.cancelled'
        - $ref: '#/parameters/rowFilter.evaluations_cuts.priority'
        - $ref: '#/parameters/body.evaluations_cuts'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /evaluative_court_header:
    get:
      tags:
        - evaluative_court_header
      parameters:
        - $ref: '#/parameters/rowFilter.evaluative_court_header.evaluative_court_header_id'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.registration_date'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.delivery_date'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.cancelled'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.delivered'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.group_planning_fk'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.professor_fk'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.evaluations_cuts_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/evaluative_court_header'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - evaluative_court_header
      parameters:
        - $ref: '#/parameters/body.evaluative_court_header'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - evaluative_court_header
      parameters:
        - $ref: '#/parameters/rowFilter.evaluative_court_header.evaluative_court_header_id'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.registration_date'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.delivery_date'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.cancelled'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.delivered'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.group_planning_fk'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.professor_fk'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.evaluations_cuts_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - evaluative_court_header
      parameters:
        - $ref: '#/parameters/rowFilter.evaluative_court_header.evaluative_court_header_id'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.registration_date'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.delivery_date'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.cancelled'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.delivered'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.group_planning_fk'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.professor_fk'
        - $ref: '#/parameters/rowFilter.evaluative_court_header.evaluations_cuts_fk'
        - $ref: '#/parameters/body.evaluative_court_header'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /examination_acta:
    get:
      tags:
        - examination_acta
      parameters:
        - $ref: '#/parameters/rowFilter.examination_acta.id_examination_acta'
        - $ref: '#/parameters/rowFilter.examination_acta.professor_name'
        - $ref: '#/parameters/rowFilter.examination_acta.examination_type_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.group_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.course_type_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.subject_name_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.career_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.course_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.professor_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.subject_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.closed'
        - $ref: '#/parameters/rowFilter.examination_acta.validated'
        - $ref: '#/parameters/rowFilter.examination_acta.close_date'
        - $ref: '#/parameters/rowFilter.examination_acta.validate_date'
        - $ref: '#/parameters/rowFilter.examination_acta.examination_date'
        - $ref: '#/parameters/rowFilter.examination_acta.secretary_name'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/examination_acta'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - examination_acta
      parameters:
        - $ref: '#/parameters/body.examination_acta'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - examination_acta
      parameters:
        - $ref: '#/parameters/rowFilter.examination_acta.id_examination_acta'
        - $ref: '#/parameters/rowFilter.examination_acta.professor_name'
        - $ref: '#/parameters/rowFilter.examination_acta.examination_type_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.group_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.course_type_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.subject_name_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.career_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.course_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.professor_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.subject_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.closed'
        - $ref: '#/parameters/rowFilter.examination_acta.validated'
        - $ref: '#/parameters/rowFilter.examination_acta.close_date'
        - $ref: '#/parameters/rowFilter.examination_acta.validate_date'
        - $ref: '#/parameters/rowFilter.examination_acta.examination_date'
        - $ref: '#/parameters/rowFilter.examination_acta.secretary_name'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - examination_acta
      parameters:
        - $ref: '#/parameters/rowFilter.examination_acta.id_examination_acta'
        - $ref: '#/parameters/rowFilter.examination_acta.professor_name'
        - $ref: '#/parameters/rowFilter.examination_acta.examination_type_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.group_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.course_type_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.subject_name_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.career_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.course_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.professor_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.subject_fk'
        - $ref: '#/parameters/rowFilter.examination_acta.closed'
        - $ref: '#/parameters/rowFilter.examination_acta.validated'
        - $ref: '#/parameters/rowFilter.examination_acta.close_date'
        - $ref: '#/parameters/rowFilter.examination_acta.validate_date'
        - $ref: '#/parameters/rowFilter.examination_acta.examination_date'
        - $ref: '#/parameters/rowFilter.examination_acta.secretary_name'
        - $ref: '#/parameters/body.examination_acta'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /examination_request:
    get:
      tags:
        - examination_request
      parameters:
        - $ref: '#/parameters/rowFilter.examination_request.examination_request_id'
        - $ref: '#/parameters/rowFilter.examination_request.matriculated_subject_fk'
        - $ref: '#/parameters/rowFilter.examination_request.examination_type_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/examination_request'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - examination_request
      parameters:
        - $ref: '#/parameters/body.examination_request'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - examination_request
      parameters:
        - $ref: '#/parameters/rowFilter.examination_request.examination_request_id'
        - $ref: '#/parameters/rowFilter.examination_request.matriculated_subject_fk'
        - $ref: '#/parameters/rowFilter.examination_request.examination_type_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - examination_request
      parameters:
        - $ref: '#/parameters/rowFilter.examination_request.examination_request_id'
        - $ref: '#/parameters/rowFilter.examination_request.matriculated_subject_fk'
        - $ref: '#/parameters/rowFilter.examination_request.examination_type_fk'
        - $ref: '#/parameters/body.examination_request'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /examination_type:
    get:
      tags:
        - examination_type
      parameters:
        - $ref: '#/parameters/rowFilter.examination_type.id_examination_type'
        - $ref: '#/parameters/rowFilter.examination_type.name'
        - $ref: '#/parameters/rowFilter.examination_type.cancelled'
        - $ref: '#/parameters/rowFilter.examination_type.priority'
        - $ref: '#/parameters/rowFilter.examination_type.sort'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/examination_type'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - examination_type
      parameters:
        - $ref: '#/parameters/body.examination_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - examination_type
      parameters:
        - $ref: '#/parameters/rowFilter.examination_type.id_examination_type'
        - $ref: '#/parameters/rowFilter.examination_type.name'
        - $ref: '#/parameters/rowFilter.examination_type.cancelled'
        - $ref: '#/parameters/rowFilter.examination_type.priority'
        - $ref: '#/parameters/rowFilter.examination_type.sort'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - examination_type
      parameters:
        - $ref: '#/parameters/rowFilter.examination_type.id_examination_type'
        - $ref: '#/parameters/rowFilter.examination_type.name'
        - $ref: '#/parameters/rowFilter.examination_type.cancelled'
        - $ref: '#/parameters/rowFilter.examination_type.priority'
        - $ref: '#/parameters/rowFilter.examination_type.sort'
        - $ref: '#/parameters/body.examination_type'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /faculties2users:
    get:
      tags:
        - faculties2users
      parameters:
        - $ref: '#/parameters/rowFilter.faculties2users.faculties_fk'
        - $ref: '#/parameters/rowFilter.faculties2users.users_fk'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/faculties2users'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - faculties2users
      parameters:
        - $ref: '#/parameters/body.faculties2users'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - faculties2users
      parameters:
        - $ref: '#/parameters/rowFilter.faculties2users.faculties_fk'
        - $ref: '#/parameters/rowFilter.faculties2users.users_fk'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - faculties2users
      parameters:
        - $ref: '#/parameters/rowFilter.faculties2users.faculties_fk'
        - $ref: '#/parameters/rowFilter.faculties2users.users_fk'
        - $ref: '#/parameters/body.faculties2users'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /faculty:
    get:
      tags:
        - faculty
      parameters:
        - $ref: '#/parameters/rowFilter.faculty.id_faculty'
        - $ref: '#/parameters/rowFilter.faculty.name'
        - $ref: '#/parameters/rowFilter.faculty.address'
        - $ref: '#/parameters/rowFilter.faculty.phone_number'
        - $ref: '#/parameters/rowFilter.faculty.dean_name'
        - $ref: '#/parameters/rowFilter.faculty.secretary_name'
        - $ref: '#/parameters/rowFilter.faculty.cancelled'
        - $ref: '#/parameters/rowFilter.faculty.town_fk'
        - $ref: '#/parameters/rowFilter.faculty.university_fk'
        - $ref: '#/parameters/rowFilter.faculty.code'
        - $ref: '#/parameters/select'
        - $ref: '#/parameters/order'
        - $ref: '#/parameters/range'
        - $ref: '#/parameters/rangeUnit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/preferCount'
      responses:
        '200':
          schema:
            $ref: '#/definitions/faculty'
          description: OK
        '206':
          description: Partial Content
    post:
      tags:
        - faculty
      parameters:
        - $ref: '#/parameters/body.faculty'
        - $ref: '#/parameters/preferReturn'
      responses:
        '201':
          description: Created
    delete:
      tags:
        - faculty
      parameters:
        - $ref: '#/parameters/rowFilter.faculty.id_faculty'
        - $ref: '#/parameters/rowFilter.faculty.name'
        - $ref: '#/parameters/rowFilter.faculty.address'
        - $ref: '#/parameters/rowFilter.faculty.phone_number'
        - $ref: '#/parameters/rowFilter.faculty.dean_name'
        - $ref: '#/parameters/rowFilter.faculty.secretary_name'
        - $ref: '#/parameters/rowFilter.faculty.cancelled'
        - $ref: '#/parameters/rowFilter.faculty.town_fk'
        - $ref: '#/parameters/rowFilter.faculty.university_fk'
        - $ref: '#/parameters/rowFilter.faculty.code'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
    patch:
      tags:
        - faculty
      parameters:
        - $ref: '#/parameters/rowFilter.faculty.id_faculty'
        - $ref: '#/parameters/rowFilter.faculty.name'
        - $ref: '#/parameters/rowFilter.faculty.address'
        - $ref: '#/parameters/rowFilter.faculty.phone_number'
        - $ref: '#/parameters/rowFilter.faculty.dean_name'
        - $ref: '#/parameters/rowFilter.faculty.secretary_name'
        - $ref: '#/parameters/rowFilter.faculty.cancelled'
        - $ref: '#/parameters/rowFilter.faculty.town_fk'
        - $ref: '#/parameters/rowFilter.faculty.university_fk'
        - $ref: '#/parameters/rowFilter.faculty.code'
        - $ref: '#/parameters/body.faculty'
        - $ref: '#/parameters/preferReturn'
      responses:
        '204':
          description: No Content
  /father_information:
    get:
      tags:
        - father_information
      parameters:
        - $ref: '#/parameters/rowFilter.father_information.id_father_information'
        - $ref: '#/parameters/rowFilter.father_information.name'
        - $ref: '#/parameters/rowFilter.father_information.salary'
        - $ref: '#/parameters/rowFilter.father_information.dead'
        - $ref: '#/parameters/rowFilter.father_information.student_fk'
[...]
